body{
    background-image: url('https://wallpapercave.com/wp/wp3170170.jpg');
    color: white;
}


.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: stretch;
 }


holder{
    border: 50px solid white;
    border-radius:20px;
    background-color: white;
    
}

img {
    max-height: 75px;
    max-width: 75px;
}