a{
    text-decoration: none;
    color: black;
}

body{
    text-align: center;
    background-color: rgb(57,57,65);
    font-family: 'Nunito', sans-serif;
    text-justify: auto;
    color: white
}

button{
    border-radius: 20px;
    height: 2em;
    background-color: rgb(224,136,36);
    border: none;
    font-family: 'Nunito', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
    display: grid;
    text-align: center;
    background-color: rgb(255,244,160);
    padding: 1em;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
  }

.forms{
    display:flex;
    justify-content: center;
    padding: 5px 0;
}

h1{
   text-align: center;
   background-color: rgb(199,27,29);
   border-radius: 20px;
   margin: 20px 20px;
   padding: 20px 0;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img{
    max-width: 6em;
    height: 6em;
    padding: 5px;

}

input{
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(224,136,36);
    border: none;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inputter{
    margin: 1em;
    padding: 1em;
    cursor: auto;
}

.newPoke{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224,136,36);
    border: none;
}

.pokemon{
    background-color: white;   
    border-width: 8px;
    border-radius: 20px;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pokemonShowImage{
    border-radius: 20px;
    margin: 2em;
}

.pokeShow{
    display: block;
    align-items: center;
}

.textInput{
    margin: 10px;
}